<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Route API to Node -->
        <rule name="API submit" stopProcessing="true">
          <match url="^api/submit$" />
          <action type="Rewrite" url="server.js" />
        </rule>
        <!-- SPA/static files fallback to Node which serves index.html -->
        <rule name="Node all" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".env" allowed="false" />
          <add fileExtension=".config" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <iisnode watchedFiles="web.config;server.js" />
  </system.webServer>
</configuration>


